{% extends "base.html" %}

{% block content %}
<h2>Planos de Investimento</h2>
<ul class="list-group">
    {% for plan in plans %}
    <li class="list-group-item">
        <h3>{{ plan.name }}</h3>
        <p>Duração: {{ plan.duration_days }} dias</p> <!-- Exibe a duração do plano -->
        <p>Taxa de Juros: {{ plan.interest_rate }}%</p>
        <p>Investimento Mínimo: {{ plan.min_investment }} Moedas Paradise</p> <!-- Exibe o investimento mínimo -->
        <a href="{% url 'create_investment' plan.id %}" class="btn btn-success">Investir neste Plano</a>
        {% if plan.plan_type == 'collective' %}
        <a href="{% url 'join_collective_investment' plan.id %}" class="btn btn-info">Juntar-se ao Plano Coletivo</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
